*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

a {
    text-decoration: none;
    /* color: #000; */
}

li{
    list-style: none;
}

img{
    width: 100%;
}

.container{
    width: 1200px;
    margin: 0px auto;
}
.main{
    width: 1900px;
}

.row{
    display: flex;
    /* margin-right: -15px;
    margin-left: -15px; */
}
.col-sm-4{
    width: 33.33%;
}
.col-sm-8{
    width: 66.67%;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-7 {
    width: 58.33333333%;
}
.col-sm-5 {
    width: 41.66666667%;
}
.col-sm-3 {
    width: 25%;
}