@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.products{
    padding: 20px 0px 20px 0px;
}
.product-list{
    display: flex;
    margin-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
}
.product-list-item{
    width: calc(33.3% - 20px) !important;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    border: #eee 1px solid;
}
.product-list-item a{
    overflow: hidden;
}
.product-list-item img{
    transition: 0.8s;
    display: block;
}
.product-list-item:hover .img-product{
    transform: scale(1.2);
}
.product-list-item:hover .img-hover{
    bottom: 40px;
}
.product-list-item:hover .overlay-icon{
    right: 15px;
}
.img-hover{
    position: absolute;
    text-align: center;
    bottom: -80px;
    transition: 0.8s;
    width: 100%;
    padding-bottom: 20px;
}
.card-body h5{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
}
.card-body p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #8F8F8F;
    margin-bottom: 8px;
}

.product_foot span{
    font-family: 'Roboto', sans-serif;
    font-family: Lexend;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}
.product-list-item{
    position: relative;
}
.overlay-icon{
    position: absolute;
    top: 0;
    right: -30px;
    transition: 0.5s;
}
.overlay-icon img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}