    <div class="footer">
        <img class="bg-footer" src="../asset/images/footer/bg-footer.jpg" alt="alt"/>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 ">  
                        <ul>
                            <li><p>TRỤ SỞ CHÍNH</p></li>
                            <li><p class="cvb maxw"> </p></li>
                            <li><p>18 - 20 Đường số 5, P. An Lợi Đông, TP. Thủ Đức, TP.HCM</p></li> 
                            <li><p> <a class="cvb" href="tel:+84909504656" title="(+84) 909 50 46 56">(+84) 909 50 46 56</a></p></li> 
                            <li><p> <a class="cvb" href="mailto:cs@azhome.co" title="CS@AZHOME.CO">CS@AZHOME.CO</a></p></li> 
    
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li><p>VỀ CHÚNG TÔI</p></li>
                            <li>
                                <p><a class="cvb" href="index.html" title="AZ HOME LIVING">AZ HOME LIVING</a></p>
                            </li>
                            <li>
                                <p><a class="cvb" href="#" title="GÓC TRUYỀN THÔNG">GÓC TRUYỀN THÔNG</a></p>
                            </li>
                            <li>
                                <p><a class="cvb" href="career.html" title="TUYỂN DỤNG">TUYỂN DỤNG</a></p>
                            </li>
                            <li>
                                <p><a class="cvb" href="contact.html" title="LIÊN HỆ">LIÊN HỆ</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li><p>DỊCH VỤ KHÁCH HÀNG</p></li>
                            <li>
                                <p><a class="cvb" href="transport.html" title="CHÍNH SÁCH GIAO HÀNG">CHÍNH SÁCH GIAO HÀNG</a></p>
                            </li>
                            <li>
                                <p><a class="cvb" href="refun.html" title="CHÍNH SÁCH ĐỔI TRẢ">CHÍNH SÁCH ĐỔI TRẢ</a></p>
                            </li> 
                            <li>
                                <p><a class="cvb" href="warranty.html" title="CHÍNH SÁCH BẢO HÀNH">CHÍNH SÁCH BẢO HÀNH</a></p>
                            </li>
                            <li>
                                <p><a class="cvb" href="terms-of-use.html" title="QUYỀN LỢI ĐỐI TÁC">QUYỀN LỢI ĐỐI TÁC</a></p>
                            </li>
                        </ul>
                    </div> 
                    <div class="col-sm-3">
                        <ul class="social-mobile">
                            <li>
                                <p> KẾT NỐI VỚI CHÚNG TÔI </p>
                            </li>
                            <li class="flex-contact">
                                <a href="#" class="cvb">
                                    <img src="images/icon/facebook.svg" alt="alt" />
                                </a>
                                <a href="#" class="cvb">
                                    <img src="images/icon/icon-Istagram-hover.svg" alt="alt" height="26"/>
                                </a> 
                                <a href="#"  class="cvb">
                                    <img src="images/icon/twitter.svg" alt="alt"/>
                                </a>
                            </li>
                        </ul>                
                        <ul>
                            <li>
                                <p> THÀNH VIÊN CỦA </p>
                            </li>
                            <li>
                                <a class="cvb"><img src="images/logo-partner.svg" alt="alt"/></a>
                            </li>
                        </ul>
    
                    </div> 
                </div>
            </div>
        </div>
    
        <div class="menu-footer">
            <div class="container">   
                <div class="row no-gutters">
                    <div class="col-sm-3 ">
                        <ul>
                            <li>
                                <p>AZ HOME LIVING © 2021  </p>
                            </li>
                        </ul>
                        <div class="notify-tablet">
                            <img src="images/copyright-mobile.svg" alt="notify"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li>
                                <p class="font-weight-bold"> KẾT NỐI VỚI CHÚNG TÔI </p>
                            </li>
                            <li class="flex-contact">
                                <a href="#" class="cvb">
                                    <img src="images/icon/facebook.svg" alt="alt" />
                                </a>
                                <a href="#" class="cvb">
                                    <img src="images/icon/icon-Istagram-hover.svg" alt="alt" height="26"/>
                                </a> 
                                <a href="#"  class="cvb">
                                    <img src="images/icon/twitter.svg" alt="alt"/>
                                </a>
                            </li>
                        </ul>
                    </div>  
                    <div class="col-sm-3">
                        <ul>
                            <li>
                                <p> MUA HÀNG TRÊN </p>
                            </li>
                            <li class="flex-buy">
                                <a href="#" class="cvb">
                                    <img src="images/icon/tiki.svg" alt="tiki"/>
                                </a>
                                <a href="#" class="cvb">
                                    <img src="images/icon/shoppe.svg" alt="shoppe"/>
                                </a> 
                                <a href="#" class="cvb">
                                    <img src="images/icon/lazada.svg" alt="lazada"/>
                                </a>
                            </li>
                        </ul>
                        <div class="notify-mobile">
                            <img src="images/copyright-mobile.svg" alt="notify"/>
                        </div>
    
                        <p class="copyright-mobile">AZ HOME LIVING © 2021  </p>
                    </div> 
                    <div class="col-sm-2">
                        <ul>
                            <li>
                                <p> <a class="cvb" href="terms-of-use.html" title="ĐIỀU KHOẢN CHUNG">ĐIỀU KHOẢN CHUNG</a> </p>
                            </li>
                            <li>
                                <p><a class="cvb" href="security.html" title="CHÍNH SÁCH BẢO MẬT">CHÍNH SÁCH BẢO MẬT</a> </p>
                            </li>
                            <li>
                                <p> <a class="cvb" href="transport.html" title="PHƯƠNG THỨC THANH TOÁN">PHƯƠNG THỨC THANH TOÁN</a></p>
                            </li>
                        </ul>
                    </div> 
                    <div class="col-md-1">
                        <ul>
                            <li>
                                <p> <img src="images/icon/notify.png" alt="alt"/></p>
                            </li>
    
                        </ul>
                    </div> 
    
                </div>
    
            </div>
        </div>
    </div>
